[submodule "askap_surveys/racs"]
	path = spiceracs/askap_surveys/racs
	url = https://bitbucket.csiro.au/scm/askap_surveys/racs.git
[submodule "RM-Tools"]
	path = RM-Tools
	url = https://github.com/AlecThomson/RM-Tools
[submodule "PolSpectra"]
	path = PolSpectra
	url = https://github.com/AlecThomson/PolSpectra
