[submodule "askap_surveys/racs"]
	path = askap_surveys/racs
	url = https://bitbucket.csiro.au/scm/askap_surveys/racs.git
[submodule "RM-Tools"]
	path = RM-Tools
	url = https://github.com/CIRADA-Tools/RM-Tools
