astropy>=4.3
bilby
casatasks
ConfigArgParse
dask
distributed
dask_jobqueue
dask_mpi
FRion
git+https://github.com/CIRADA-Tools/RMTable
h5py
ipython
matplotlib
numba
numba_progress
mpi4py
pandas
Polspectra
prefect<2
psutil
pymongo
pymultinest
pytest
python_casacore
RACS_tools
radio_beam
RMextract
RMTable
./RM-tools/
schwimmbad
scipy
setuptools
sphinx-book-theme
spectral_cube
spython
tqdm
vorbin