astropy>=4.3
bilby
casatasks
ConfigArgParse
dask
distributed
dask_jobqueue
dask_mpi
FRion
git+https://github.com/CIRADA-Tools/RMTable
h5py
ipython
matplotlib
numba
numba_progress
mpi4py
pandas
Polspectra
prefect<2
psutil
pymongo
pymultinest
pytest
python_casacore
RACS_tools
radio_beam
RMextract
RMTable
schwimmbad
scipy
sphinx
spectral_cube
spython
tqdm
vorbin
graphviz
bokeh
pymongo
numpydoc
sphinx-autoapi
m2r2